@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
* {
  padding: 0%;
  margin: 0%;

  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.jura > {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
:root {
  --Purple500: #63378d;
  --Purple900: #1c0a43;
  --Yellow500: #ffd364;
}
.body {
  overflow: hidden;
  font-family: "Jura";
  font-weight: 400;
  font-style: normal;
  background-color: #63378d;
  color: white;
  height: 100vh;
  width: 100%;
}
/* START -Scrollbar Styling */
body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: yellow;
  width: 1rem;
}

body::-webkit-scrollbar-thumb {
  background: var(--Purple900);
}
